{% extends "base.html" %}

{% block content %}


  <div class="d-flex align-items-center justify-content-center"
       style="margin-top: 5%;">
    <div class="card" style="width: 27rem;">
      <div class="card-header text-center" style="font-size:16px">
        Data Submission Successful!
      </div>
      <div class="card-body">
        <p>
          Thanks for contributing to our database. Your data submission will
          improve the scope and quality of our tool!
        </p>
        <div class="d-flex flex-wrap justify-content-center my-1">
          <a class="btn btn-outline-secondary mx-3 mb-2"
             href="{% url 'chem:submit_chem' %}"
          >
            Submit New Chemical
          </a>
          <a class="btn btn-outline-secondary mx-3"
             href="{% url 'chem:submit_blend' %}"
          >
            Submit New Blend
          </a>
        </div>
      </div>
    </div>
  </div>

{% endblock %}

