{% extends 'base.html' %}
{% load crispy_forms_tags %}

{% block content %}
  {% if validlink %}
    <div class="d-flex align-items-center justify-content-center info-card-cont">
      <div class="card" style="width: 27rem;">
        <div class="d-flex card-header justify-content-center">
          Reset Password
        </div>
        <div class="card-body">
          {% crispy form %}
        </div>
      </div>
    </div>
  {% else %}
    <div class="d-flex align-items-center justify-content-center"
         style="margin-top: 10%;">
      <div class="card" style="width: 27rem;">
        <div class="d-flex card-header justify-content-center">
          Invalid Link!
        </div>
        <div class="card-body">
          <p>
            The password reset link was invalid, possibly because it has already
            been used.
          </p>
          <p>
            Please
            <a href="{% url 'accounts:password_reset' %}">
              request a new password reset.
            </a>
          </p>
        </div>
      </div>
    </div>
  {% endif %}

{% endblock %}