{% autoescape off %}

  Hi {{ user.first_name }},

  You're receiving this email because you requested a password reset for your
  account at feedstock-to-function.lbl.gov.

  To complete the password reset process, please click on the following link:
  {{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

  If the link above doesn't work, please copy and paste the URL
  in a new browser window instead.

  Thanks for using our site!

  ---
  The Feedstock to Function Team
  feedstock-to-function.lbl.gov
{% endautoescape %}