{% extends "base.html" %}

{% block content %}

  <div class="d-flex align-items-center justify-content-center info-card-cont">
    <div class="card" style="width: 27rem;">
      <div class="d-flex card-header justify-content-center">
        You've got mail!
      </div>
      <div class="card-body">
        <p>
          An email has been sent to the address you provided with
          instructions for resetting your password.
        </p>
        <p>
          If you don't receive an email, make sure you entered the
          same email address used for registering
          and check your spam folder.
        </p>
      </div>
    </div>
  </div>

{% endblock %}

